# KNN -K Nearest Neighbor Algorithm

In [1]:
# Predictions make by observation similarities

In [5]:
# 1- Determine the neighbor quantity
# 2- Calculate the distance between unknown point and all points
# 3- Order the distances and choose the closest k observation according to k numbers
# 4- If it is classification value it by  most often class; if it is regression value it by average value

In [77]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
hit = pd.read_csv("Hitters.csv")
df = hit.copy()
df = df.dropna()
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
y = df["Salary"]
X_ = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1).astype('float64')
X = pd.concat([X_, dms[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.25, 
                                                    random_state=42)

In [80]:
from sklearn.neighbors import KNeighborsRegressor

In [81]:
knn_model=KNeighborsRegressor().fit(X_train,y_train)

In [82]:
knn_model.n_neighbors

5

In [83]:
# Prediction

In [84]:
y_pred=knn_model.predict(X_test)

In [85]:
from sklearn.metrics import mean_squared_error

In [86]:
np.sqrt(mean_squared_error(y_test,y_pred))

426.6570764525201

In [87]:
RMSE=[]

for k in range(10):
    k=k+1
    knn_model=KNeighborsRegressor(n_neighbors=k).fit(X_train,y_train)
    y_pred=knn_model.predict(X_train)
    rmse=np.sqrt(mean_squared_error(y_train,y_pred))
    RMSE.append(rmse)
    print("k= ",k,"RMSE Value",rmse)

k=  1 RMSE Value 0.0
k=  2 RMSE Value 179.52761335480352
k=  3 RMSE Value 205.20157172291863
k=  4 RMSE Value 220.5139794876305
k=  5 RMSE Value 239.64671325413764
k=  6 RMSE Value 243.5904190007242
k=  7 RMSE Value 258.1478781634636
k=  8 RMSE Value 266.05374203349805
k=  9 RMSE Value 269.73782093553376
k=  10 RMSE Value 271.2798300436963

In [104]:
# Model Tuning

In [105]:
from sklearn.model_selection import GridSearchCV

In [106]:
knn_params= {"n_neighbors": np.arange(1,30,1)}

In [107]:
knn=KNeighborsRegressor()
knn_cv_model=GridSearchCV(knn,knn_params,cv=10)

In [108]:
knn_cv_model.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])})

In [110]:
knn_cv_model.best_params_["n_neighbors"]

8

In [111]:
knn_tuned=KNeighborsRegressor(n_neighbors=8)

In [112]:
knn_tuned.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=8)

In [113]:
y_pred=knn_tuned.predict(X_test)

In [114]:
np.sqrt(mean_squared_error(y_test,y_pred))

413.7094731463598

# Support Vector Regression - SVR

In [1]:
import pandas as pd
import numpy as np

In [18]:
hit=pd.read_csv("Hitters.csv")
df=hit.copy()
df=df.dropna()
y=df["Salary"]
dms=pd.get_dummies(df[["League","Division","NewLeague"]])
X_=df.drop(["Salary","League","Division","NewLeague"],axis=1).astype("float64")
X_.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0

In [24]:
from sklearn.model_selection import train_test_split

In [22]:
X = pd.concat([X_, dms[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)
X

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497.0,127.0,7.0,65.0,48.0,37.0,5.0,2703.0,806.0,32.0,379.0,311.0,138.0,325.0,9.0,3.0,1,0,1
318,492.0,136.0,5.0,76.0,50.0,94.0,12.0,5511.0,1511.0,39.0,897.0,451.0,875.0,313.0,381.0,20.0,0,0,0
319,475.0,126.0,3.0,61.0,43.0,52.0,6.0,1700.0,433.0,7.0,217.0,93.0,146.0,37.0,113.0,7.0,0,1,0
320,573.0,144.0,9.0,85.0,60.0,78.0,8.0,3198.0,857.0,97.0,470.0,420.0,332.0,1314.0,131.0,12.0,0,0,0
321,631.0,170.0,9.0,77.0,44.0,31.0,11.0,4908.0,1457.0,30.0,775.0,357.0,249.0,408.0,4.0,3.0,0,1,0

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [28]:
X.shape

(263, 19)